html{
    font-family: sans-serif;
}
  
body{
    background: #F6F5F5;
}
  
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: auto ;
}


.titulo{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    

}